@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-black;
}

/* Apply overflow: hidden only for large screens and above */
@media (min-width: 1024px) {
	body {
	  @apply overflow-hidden;
	}
  }

*::-webkit-scrollbar {
	width: 8px; /* Adjust scrollbar width */
}

*::-webkit-scrollbar-thumb {
	background-color: #4b5563; /* Scrollbar thumb color */
	border-radius: 4px; /* Rounded corners */
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #1f2937; /* Hover state for scrollbar thumb */
}

*::-webkit-scrollbar-track {
	background-color: #2d3748; /* Scrollbar track color */
	border-radius: 4px; /* Rounded corners for the track */
}
  
/* Firefox scrollbar styling */
* {
	scrollbar-color: #4b5563 #2d3748; /* Thumb color and track color */
	scrollbar-width: thin; /* Thin scrollbar */
}